body{
    background-color: #311E25;
    color: aliceblue;
    font-family: sans-serif, monospace,cursive;
}
header{
    width: 100%;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav{
    background-color:#DB9A64;
}
#navigations{
    position: absolute;
    right: 5%;
}
#hover{
    display: none;
    position: absolute;
    top: 3em;
    left: 1em;
    background: rgba(49, 30, 37, 0.8);
    width: 100%;
    border-radius: 4px;
    transition: all .8s;
}
#hover:hover{
    transform: translateY(5px);
    transition-duration: 0.6s;
}
#hover::before{
    content: '';
    background-color: lightgrey;
    /* border-left-width: 100px; */
    height: 100px;
    /* border-left-color: blue;
    border-right-width: 100px;
    border-right-color: red; */
}
#hover a{
    display: block;
    margin: 0.5em 1em;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    color: lightgrey;
}
#hover a:hover{
    border-bottom: 1px solid #DB9A64;
    text-decoration: none;
}
.tr-navs{
    margin-left: 3em;
    color: #DB9A64;  
    padding: 1.5em 1em;
    text-decoration: none;
}
.tr-navs:hover{
    border-bottom: 2px solid #DB9A64;
    color: #DB9A64;
    text-decoration: none;
}
.dropdown{
    position: relative;
}
.dropdown:hover #hover{
    display: block;
}
#view-more{
    border: 2px solid #DB9A64;
    border-radius: 3px;
    background-color: transparent;
    color: #DB9A64;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    padding: 1em 3em;
}
#view-more:hover{
    background-color: #DB9A64;
    color: #311E25;
}
.container1{
    padding: 0 5%;
}
.jumbotron{
    background-color: rgba(49, 30, 37, 0.9);
    background-image: url("C:/Users/rf/Pictures/images/promiseYellowBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    position: relative;
    height: 60vh;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(49, 30, 37, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}
h1{
    color: #fff;
}
h5{
    color: #DB9A64;
}
.col-md-3{
    margin: 5% 0;
}
.service_flexbox{
    border: 1px solid #DB9A64;
}
.service_flexbox p{
    font-size: 13px;
    margin: 3em 0em; 
}
.jumbotron p{
    color: #DB9A64;
}
.jumbotron a{
    border: 1px solid #DB9A64;
    background-color: transparent;
    text-decoration: none;
    color:#DB9A64;
    font-size: 20px;
    padding: 1rem 3rem;
}
.jumbotron a:hover{
    background: #DB9A64;
    color: #311E25;
    transform: translateX(20px);
    transition-duration: 1.2s;
}
.col-md-4 img{
    width: 100%;
    height: 100%;
}
#services_area{
    margin: 5em 0 4.5em 0;
    background-color: rgba(255, 255, 255, 0.03)
}
.slide-in{
    opacity: 0;
    transition: all .5s;
}
h5{
    margin: auto;
    width: 38%;
}
.service-icon{
    margin: auto; 
    width: 35%; 
    margin-top:2rem;
}
.align-left{
    transform: translateX(-500px) scale(0.95)
}
.align-right{
    transform: translateX(500px) scale(0.95)
}
.active{
    opacity: 1;
    transition-timing-function: ease-in;
    transform: translateX(0px) scale(1);
}
.nothing{
    height: 300px;
    width: 100%;
    background: #DB9A64;
}
.card > img{
    height: 40vh;
}
.col-md-4{
    margin: 2rem 0;
}
.thumbnail img{
    border-radius: 5px;
}

@media screen and (min-width: 300px){
    header{
        width: 100%;
    }
    .col-md-8{
        margin: auto;
        width: 90%;
    }
    .jumbotron{
        height: max-content;
        width: 100%;
    }
}